{% extends "trex2/base-dashboard.html" %}


{% block title %}
    Data preparation | {{ block.super }}
{% endblock %}

{% block sidebar %}
    {{ block.super }}

    {% include 'trex2/sidebar.html' %}

{% endblock %}


{% block content %}
    {{ block.super }}


    <div id="data-preparation">

        <h1>Data preparation
            <div class="text-small block italic">
                <a href="{{ abstract.uri }}" target="_blank">
                    {{ abstract.concept }}
                </a>
            </div>
        </h1>

        {% if abstract.lexprocess.dp.stats|length > 0 %}

            <div class="report">
                <div class="section-title">Report</div>
                <ul class="list-group">
                    {% for stat in abstract.lexprocess.dp.stats %}
                        <li class="list-group-item">
                            {{ stat.msg }}
                            <span class="badge badge-primary badge-pill">{{ stat.applied }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="step-result">
            <div>
                <div class="section-title">
                    <i class="far fa-file-alt"></i>
                    Original text
                </div>
                <div class="text">
                    {{ new_text | safe }}
                </div>
            </div>
            <i class="arrow fas fa-chevron-down"></i>

            <div>
                <div class="section-title">
                    <i class="far fa-file"></i>
                    Output text
                </div>
                <div class="text">
                    {{ abstract.lexprocess.dp.output }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        function sameHeightText() {
            let maxHeight = 0;
            $('.step-result .text').css({height: 'auto'});
            $('.step-result .text').each(function () {
                maxHeight = Math.max(maxHeight, $(this).outerHeight());
            });
            $('.step-result .text').css({height: maxHeight + 'px'});
        }

        $(function () {
            sameHeightText();
        });

        $(window).resize(function () {
            sameHeightText();

        });
    </script>
{% endblock %}

