{% extends "trex2/base-dashboard.html" %}

{% block title %}
    Entity Linking |
    {{ block.super }}

{% endblock %}

{% block sidebar %}
    {{ block.super }}

    {% include 'trex2/sidebar.html' %}

{% endblock %}


{% block content %}
    {{ block.super }}

    <div id="entity-linking">

    <h1>Entity Linking
        <div class="text-small block italic">
            <a href="{{ abstract.uri }}" target="_blank">
                {{ abstract.concept }}
            </a>
        </div>
    </h1>

    <div class="step-result">
        <div class="section-title">
            <i class="fas fa-search"></i>
            Text Examined

            <div class="text">
                <p>{{ text | safe }}</p>
                <div class="popover-container">


                    {% for entity in document.entities %}

                        {% if  entity.uri|lower != "" %}

                            <div class="popover-wrapper"
                                 data-target="{{ entity.uri }}"
                                    {% if  entity.text|lower != "none" %} data-text="{{ entity.text }}"{% endif %}
                                    {% if  entity.img|lower != "none" %} data-img="{{ entity.img }}"{% endif %}
                            ></div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="entities-list">
            <div>
                {% for entity in document.entities %}
                    <div class="item">
                        <a target='_blank' href="{{ entity.uri }}">
                            {% if  entity.in_all %}
                                <span class="annotator wikifier"></span>
                                <span class="annotator spotlight"></span>
                            {% else %}
                                <span class="annotator"></span>
                                <span class=" annotator {{ entity.annotator|lower }}"></span>
                            {% endif %}
                            {{ entity.surfaceform }}
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>


    </div>


{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
      $(function () {
        {#popover #}
        $('.step-result .text a').click(function (e) {
          e.preventDefault();
        });

        $('.step-result .text a').popover({
          viewport: '.content',
          toggle: 'popover',
          html: true,
          trigger: 'focus',
          placement: 'bottom',
          title: function () {
            return `<a target="_blank" href="${$(this).attr('href')}">${this.innerText} <i class="fas fa-external-link-alt"></i></a>`;
          },
          content: function () {
            const elem = $(`.popover-wrapper[data-target="${$(this).attr('href')}"]`);
            if (elem.length === 0 || ($(elem).data('img') === undefined && $(elem).data('text') === undefined))
              return 'no content available';

            return `<img class="pull-right" src="${$(elem).data('img')}"/>${$(elem).data('text')}`;

          }
        });

        $('.step-result .text a').on('inserted.bs.popover', function () {
          $('.popover-content').slimScroll({
            height: '',
            size: '3px',
          });
        });

        $('.entities-list a').on('mouseover', function () {
          const anchorHref = $(this).attr('href');
          $('.step-result .text a').each(function () {
            if (anchorHref === $(this).attr('href')) {
              $(this).addClass('hover');
            }

          });
        });

        $('.entities-list a').on('mouseleave', function () {
          $('.step-result .text a').removeClass('hover');
        });

        $('.step-result .text a').on('mouseover', function () {
          const anchorHref = $(this).attr('href');
          $('.entities-list a').each(function () {
            if (anchorHref === $(this).attr('href')) {
              $(this).addClass('hover');
            }

          });
        });

        $('.step-result .text a').on('mouseleave', function () {
          $('.entities-list a').removeClass('hover');
        });

      });
    </script>
{% endblock %}
