{% extends "trex2/base-dashboard.html" %}


{% block title %}
    Literal Extraction |
    {{ block.super }}
{% endblock %}

{% block sidebar %}
    {{ block.super }}

    {% include 'trex2/sidebar.html' %}

{% endblock %}


{% block content %}
    {{ block.super }}

    <div id="literal-extraction">
        <h1>Literal Extraction
            <div class="text-small block italic">
                <a href="{{ abstract.uri }}" target="_blank">
                    {{ abstract.concept }}
                </a>
            </div>
        </h1>


        <div class="step-result">

            <div class="section-title">
                <i class="fas fa-search"></i>
                Text Examined
            </div>

            <div class="flex ">


                <div class="text">
                    <p>{{ text | safe }}</p>
                </div>

                <div class="literal-list">
                    <div>
                        <div class="block-title">Date Extraction</div>
                        {% for entity in document.entities %}
                            <div class="item">
                                {{ entity.surfaceform }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="spacer">
                        <div class="block-title">Literal Extraction</div>
                        {% for t in type %}
                            <div class="item">
                                {{ t.word }} <span class="text-small">({{ t.string_concept }})</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(function () {

            let text = $('.step-result .text').html();
            let tmpText = $('.step-result .text').html();
            let newText;
            let numeric;
            let done = [];
            {% for t in type %}
                numeric = "{{ t.word }}";

                console.log(numeric);
                if (!done.includes(numeric)) {
                    tmpText = tmpText.replace(new RegExp(numeric, 'g'), `<span class="literal-found">${numeric}</span>`);
                    done.push(numeric);
                }

                newText = tmpText;

            {% endfor %}
            $('.step-result .text').empty().append(newText)

        });
    </script>

{% endblock %}
