{% extends "trex2/base-dashboard.html" %}


{% block title %}
    Relation Extraction |
    {{ block.super }}
{% endblock %}

{% block sidebar %}
    {{ block.super }}

    {% include 'trex2/sidebar.html' %}

{% endblock %}


{% block content %}
    {{ block.super }}

    <div id="relation-extraction">

        <h1>Relation Extraction
            <div class="text-small block italic">
                <a href="{{ abstract.uri }}" target="_blank">
                    {{ abstract.concept }}
                </a>
            </div>
        </h1>

        <div class="step-result">

            <div class="section-title">
                <i class="far fa-file"></i>
                Output text
            </div>
            <div class="text">
                {{ text|safe }}
            </div>


            <table class="table table-bordered sde-table">
                <thead>
                <tr>
                    <th>
                        Sentence
                    </th>
                    <th>
                        Predicates
                    </th>
                    <th style="min-width:450px">
                        Triples
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for sentence in sentences %}
                    <tr>
                        <td>
                            {{ sentence.sentence|safe }}
                        </td>

                        <td>
                            <ul>
                                {% for pred in sentence.predicates %}
                                    <li>{{ pred.predicate }}</li>
                                {% endfor %}
                            </ul>
                        </td>

                        <td>
                            <ul>
                                {% for triple in sentence.triples %}
                                    <li>
                                        (
                                        <a href="{{ triple.subject_ontology }}">
                                            {{ triple.subject }}
                                        </a>,
                                        <a href="{{ triple.predicate_uri }}">
                                            {{ triple.predicate }}
                                        </a>
                                        ,
                                        <a href="{{ triple.object_ontology }}">
                                            {{ triple.object }}
                                        </a>
                                        )
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
      $(function () {
        $('.entities-list a').on('mouseover', function () {
          const anchorHref = $(this).attr('href');
          $('.step-result .text a').each(function () {
            if (anchorHref === $(this).attr('href')) {
              $(this).addClass('hover');
            }

          });
        });

        $('.entities-list a').on('mouseleave', function () {
          $('.step-result .text a').removeClass('hover');
        });

        $('.step-result .text a').on('mouseover', function () {
          const anchorHref = $(this).attr('href');
          $('.entities-list a').each(function () {
            if (anchorHref === $(this).attr('href')) {
              $(this).addClass('hover');
            }

          });
        });

        $('.step-result .text a').on('mouseleave', function () {
          $('.entities-list a').removeClass('hover');
        });

      });
    </script>
{% endblock %}
