{% extends "trex2/base-dashboard.html" %}

{% block sidebar %}
    {{ block.super }}

    {% include 'trex2/sidebar.html' %}

{% endblock %}

{% block content %}

    <div id="manual-revision">


        <div class="twoSide-layout">
            <div class="container-fluid">
                <div class="row flex ">

                    <div class="col col-md-9">
                        <div class="mainContent">
                            <p id="sentence"></p>
                        </div>
                    </div>
                    <div class="col col-md-3 background ">
                        <div class="lateral-block predicates">
                            <h5>Predicates</h5>
                            <div class="flex column">
                                <div id="predicates-wrapper" class="option-box"></div>
                            </div>
                        </div>
                        <div class="lateral-block triples">
                            <h5>Triples</h5>
                            <div id="triples-wrapper" class="option-box"></div>

                            <div id="submit" class="btn btn-primary">
                                Submit
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block javascript %}
    {{ block.super }}
    {% load static %}

    <script src="{% static 'leader-line/leader-line.min.js' %}"></script>

    <script>
      // data: should be dynamic
      const sentence = 'Elliott Smith also played piano, clarinet, bass guitar, drums and harmonica.';
      const annotations = [
        {
          string: 'Elliott Smith',
          ann: 'dbr:Elliott_Smith',
          type: 'subject'
        },
        {
          string: 'played',
          type: 'predicate'
        },
        {
          string: 'piano',
          ann: 'dbr:piano',
          type: 'object'
        },
        {
          string: 'clarinet',
          ann: 'dbr:clarinet',
          type: 'object'
        },
        {
          string: 'bass guitar',
          ann: 'dbr:bass_guitar',
          type: 'object'
        },
        {
          string: 'drums',
          ann: 'dbr:drums',
          type: 'object'
        },
        {
          string: 'harmonica',
          ann: 'dbr:harmonica',
          type: 'object'
        }
      ];

      const arcOptions = {
        color: '#35383b',
        size: 1,
        endPlugOutline: false,
        endPlugSize: 3,
        path: 'fluid',
        startSocket: 'top',
        endSocket: 'top',
        animOptions: { duration: 500, timing: [0.58, 0, 0.42, 1] },
        startSocketGravity: [0, -40],
        endSocketGravity: [0, -40]
      };

      function printSentence (sentence, annotations) {
        let sentenceFormatted = sentence;
        // iterate over annotations and build html to be displayed
        annotations.forEach(ann => {

          if (sentenceFormatted.indexOf(ann.string) > -1) {
            let tmpWrapper = $('<span/>');

            let value;

            if (ann.type !== 'predicate') {
              value = $('<span/>', {
                class: `entity  ${ann.type}`,
                text: ann.string
              });
            } else {
              value = $('<strong/>', {
                text: ann.string
              });

            }

            let annotation;
            if (ann.ann) {
              value.attr('data-ann', ann.ann);

              annotation = $('<span/>', {
                class: 'annotation',
                html: `<i class="fas fa-tag"></i>${ann.ann}`
              });

              value.append(annotation);
            }

            tmpWrapper.append(value);
            sentenceFormatted = sentenceFormatted.replace(new RegExp(ann.string, 'g'), tmpWrapper.html());

          }

        });

        $('#sentence').append(sentenceFormatted);
      }

      function printPredicates (predicates) {

        //iterate over each predicates and build html to be displayed
        predicates.forEach((predicate) => {

          const value = $('<span/>', {
            text: predicate,
            class: 'predicate entity'
          });

          $('#predicates-wrapper').append(value);

        });
      }

      function printTriples (triples) {
        $('#triples-wrapper').empty();

        //iterate over each triple and build html to be displayed
        triples.forEach((triple, index) => {

          const value = $('<span/>', {
            text: `${triple.subject}, ${triple.predicate}, ${triple.object}`,
            class: 'triple'
          });

          $('#triples-wrapper').append(value);

        });

        //send
        /*  [
          ["dbo:ciao", "dbo:pippo", "dbo:va"],
           ["dbo:w", "dbo:ssss", "dbo:sw"]
        ]*/
      }

      function getPredicates (subject, object) {
        // TODO: this should be done dynamically
        return [
          'dbo:associatedMusicalArtist',
          'dbo:associatedBand',
          'dbo:recordLabel',
          'dbo:instrument',
          'dbo:influencedBy'];
      }

      $(function () {
        let triples = [];
        let completedArcs = [];
        let arc;

        const $sentence = $('#sentence');

        printSentence(sentence, annotations);

        // create arcs on click

        let arcStartElem, arcEndElem = null;

        $sentence.on('click', '.entity', function () {

          const $entity = $(this);

          if (arcStartElem === $entity[ 0 ]) {
            arcStartElem = null;
            $entity.removeClass('selected');
          } else {

            if ($entity.hasClass('subject')) {
              arcStartElem = $entity[ 0 ];
              $entity.addClass('selected');
            } else if ($entity.hasClass('object')) {
              if (arcStartElem !== null) {
                arcEndElem = $entity[ 0 ];
              }
            }
          }

          if (arcStartElem && arcEndElem) {
            const isCompleted = completedArcs.find(item => item.arcStartElem === arcStartElem && item.arcEndElem === arcEndElem);

            if (!isCompleted) {
              arc = new LeaderLine(arcStartElem, arcEndElem, arcOptions);
              completedArcs.push({ arcStartElem, arcEndElem });

              const threshold = completedArcs.length === 1 ? 50 : 40;
              arcOptions.startSocketGravity = [0, arcOptions.startSocketGravity[ 1 ] - threshold];
              arcOptions.endSocketGravity = [0, arcOptions.endSocketGravity[ 1 ] - threshold];
              const predicates = getPredicates($(arcStartElem).attr('data-ann'), $(arcEndElem).attr('data-ann'));
              printPredicates(predicates);

              $('.mainContent').closest('.col').addClass('backdrop');
              $('.triples').addClass('backdrop');
            }

          }
        });

        $('.predicates').on('click', '.entity', function () {

          const $pred = $(this);
          arc.middleLabel = LeaderLine.pathLabel($pred.text(), {
            fontSize: '14px',
            outlineColor: ''
          });

          triples.push({
            subject: $(arcStartElem).find('.annotation').text(),
            object: $(arcEndElem).find('.annotation').text(),
            predicate: $pred.text()
          });

          printTriples(triples);

          $(arcStartElem).removeClass('selected');
          arcStartElem = arcEndElem = null;

          $('.backdrop').removeClass('backdrop');

          $('#predicates-wrapper').empty();
        });

        let hoverLine;
        $sentence.on('mouseenter', '.entity', function () {
          const $entity = $(this);
          if ($entity.hasClass('object') && arcStartElem !== null) {
            arcEndElem = $entity[ 0 ];

            if (arcStartElem && arcEndElem) {
              hoverLine = new LeaderLine(arcStartElem, arcEndElem, arcOptions);
            }
          }

        });

        $sentence.on('mouseleave', '.entity', function () {
          if (!$('.mainContent').closest('.col').hasClass('backdrop')) {
            arcEndElem = null;
          }

          if (hoverLine) {
            hoverLine.remove();
            hoverLine = null;
          }
        });

        $('#submit').on('click', function () {
          console.log('Submit triples', triples);
        });
      });

    </script>

{% endblock %}

{#I hate this thing#}
{% block console %}{% endblock %}
