{% extends "trex2/base-dashboard.html" %}

{% block title %}
    {{ block.super }}
    - Home
{% endblock %}


{% block abstract_info %}
    {{ block.super }}
      <ul class="tableInfo">
                <li class="stats">
                    <span class="number">{{ abstract_count }}</span>
                    <span class="description">abstracts</span>
                </li>
                <li class="stats">
                    <span class="number">0</span>
                    <span class="description">abstracts completed</span>
                </li>

            </ul>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="list-table" class="table-responsive">
        {% if abstract_list %}
            <table class="table table-hover table-bordered sde-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="table-name">
                        URI
                        {#                    <div class="search">#}
                        {#                        <form role="search">#}
                        {#                            <div class="form-group material condensed">#}
                        {#                                <input type="text" id="search" class="form-control search-bar" name="search"#}
                        {#                                       required="">#}
                        {#                                <label for="search">Search by table name</label>#}
                        {#                                <i class="fas fa-times btn-cancel"></i>#}
                        {#                            </div>#}
                        {#                        </form>#}
                        {#                    </div>#}
                    </th>
                    <th class="table-date">Insert Date</th>
                    <th class="table-status">Status</th>
                    <th class="table-time">Execution Time</th>
                    <th class="table-buttons">
                        Actions

                        <div>
                            <div class="btn-group">
                                <a href="{% url 'delete_all' %}" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                    Delete all
                                </a>
                                <a href="{% url 'data_preparation_all' %}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-cogs"></i>
                                    Process all
                                </a>
                                <a href="{% url 'delete_all_results' %}" class="btn btn-sm btn-warning">
                                    <i class="fa fa-bolt"></i>
                                    Delete all Results
                                </a>
                            </div>
                        </div>


                    </th>
                </tr>
                </thead>
                <tbody>

                {% for abstract in abstract_list %}
                    <tr>
                        <td>
                            <small>{{ abstract.id }}</small>
                        </td>
                        <td class="table-name">{{ abstract.uri }}</td>
                        <td class="table-date">
                            {{ abstract.pub_date }}
                        </td>
                        <td class="table-status">
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar progress-bar-danger"
                                     style="width: {{ abstract.percentage }}%">
                                    <span class="badge btn-danger">{{ abstract.percentage }}%</span>
                                </div>
                            </div>

                        </td>
                        <td class="table-time">
                            -
                        </td>
                        <td class="table-buttons">
                            <div class="btn-group">
                                <a href="{% url 'abstract_show' abstract.id %}"
                                   class="btn btn-secondary btn-xs">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    Edit
                                </a>
                                <a href="{% url 'starting_abstract' abstract.id %}"
                                   class="btn btn-primary btn-xs">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Show
                                </a>
                                <a href="{% url 'delete_abstract' abstract.id %}"
                                   class="btn btn-danger btn-xs">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Delete
                                </a>
                                <a href="{% url 'delete_results' abstract.id %}"
                                   class="btn btn-warning btn-xs">
                                    <i class="glyphicon glyphicon-flash"></i>
                                    Delete Results
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>

            <ul class="pagination pagination-sm pull-right">
                {% if abstract_list.has_previous %}
                    <li><a href="?page=1">&laquo;</a></li>
                    <li>
                        <a href="?page={{ abstract_list.previous_page_number }}">{{ abstract_list.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="active"><a href="?page={{ abstract_list.number }}">{{ abstract_list.number }}</a>
                </li>

                {% if abstract_list.has_next %}
                    <li>
                        <a href="?page={{ abstract_list.next_page_number }}">{{ abstract_list.next_page_number }}</a>
                    </li>
                    <li><a href="?page={{ abstract_list.paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
            </ul>

        {% else %}
            <div class="text-center text-big margin">
                No abstract are available.
                <div>
                    <a href="{% url 'abstract_import' %}" class="btn btn-primary">
                        Add an abstract
                    </a>
                </div>
            </div>

        {% endif %}
    </div>



{% endblock %}


   {% block console %}{%endblock %}
