.leader-line {
  z-index: 999;

  text {
    &:before {
      content: "ssss";
    }
  }
}

#manual-revision {

  .backdrop {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(black, .4);
      top: 0;
      left: 0
    }
  }

  .triple {
    padding: 4px 18px;
    background: #c8e9b2;
    border-radius: 12px;
    margin: 8px 0;
    display: block;
  }

  .entity {
    cursor: pointer;
    text-overflow: ellipsis;
    max-width: 100%;
    position: relative;
    border-radius: 12px;
    padding: 4px 18px;
    white-space: nowrap;
    display: inline-block;
    line-height: 1.1;
    vertical-align: middle;
    transition: all .2s;
    border: 2px solid transparent;

    &.subject {
      background-color: #ffd49c;

      &:hover {
        background-color: #fcbd6a;
      }
    }

    &.object {
      background-color: #b2e4f6;

      &:hover {
        background-color: #7fd9fa;
      }
    }

    &.predicate {
      display: inline-block;
      background-color: #efefef;
      margin: 4px 0;
      font-size: 14px;

      &:hover {
        background-color: lighten(#efefef, 5%);
      }
    }

    &.selected {
      border-color: #202022;
    }
  }

  .annotation {
    position: absolute;
    font-size: 11px;
    left: 50%;
    top: calc(100% + 10px);
    transform: translateX(-50%);
    width: 100%;
    white-space: nowrap;
    text-align: center;
    line-height: 1.1;

    i {
      padding-right: 5px;
      color: #56cd0e;
    }
  }


  .option-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  .background {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;

    .lateral-block {
      flex-grow: 1;
      padding: 12px;
      background-color: #d2d6de;
      border-left: 2px solid #685a80;

      h5 {
        text-transform: uppercase;
      }
    }

    .triples {
      height: 30vh;
      flex-grow: 1;
      border-top: 3px solid white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .btn{
        margin-top: auto;
        align-self: flex-end;
      }
    }
  }

  .mainContent {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #sentence {
    line-height: 5;
  }
}



