.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.text-small {
  font-size: 80%;
}

.text-big {
  font-size: 120%;
}

.block {
  display: block;
}

.flex {
  display: flex;

  &.align-center {
    justify-content: center;
    align-items: center;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.w100 {
  width: 100%;
}

.spacer {
  margin-top: 16px !important;
}

.margin-auto {
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.red {
  color: red;
}

.line-separator {
  position: relative;
  margin-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background: $secondary-color;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: -15px 0;

  }
}

%FontAwesome900 {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

