{% extends "trex2/base-dashboard.html" %}


{% block title %}
    Import |
    {{ block.super }}
{% endblock %}


{% block content %}
    {{ block.super }}


    <div class="twoSide-layout">
        <div class="container-fluid">

            <div class="row flex ">

                <div class="col col-md-9">

                    <div class="container-form">
                        <h1> Import</h1>


                        <div class="text-center line-separator">

                            {#TODO#}
                            <form action="{% url 'process_data_all' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" href="#" class="btn btn-outline-primary load load-all-abstracts">
                                    Load all abstracts
                                </button>
                            </form>


                        </div>

                        <form id="form" action="{% url 'process_data' %}" method="post">
                            {% csrf_token %}

                            <div class="form-group material">
                                <input type="text" id="testo" class="form-control" name="testo" required>
                                <label for="testo">URI Wikipedia</label>
                                <div class="helper-message">Insert a Wikipedia URI to add a single abstract</div>
                            </div>

                            <button type="submit" id="submit" class="btn btn-primary btn-block">Submit
                            </button>

                        </form>
                    </div>

                </div>

                <div class="col col-md-6 background">

                    <h3>Import instructions</h3>

                    <p>
                        Provide SeAlion with a URL from Wikipedia in order to load an abstract into the tool.
                        The URL must point to the English version of the Wikipedia resource, hence it is supposed to
                        look like this:
                        <a href="https://en.wikipedia.org/wiki/The_Beatles" rel="noopener">
                            https://en.wikipedia.org/wiki/The_Beatles
                        </a>
                    </p>
                    <p>
                        Once you have found your URL, paste it into the box and click "Submit" to import it into
                        SeAlion.
                    </p>

                    <p>
                        You can otherwise load a predefined set of abstracts by clicking on the "Load all abstracts"
                        button; the collected resources will then be available in the Abstract section.
                    </p>


                </div>

            </div>

        </div>
    </div>



{% endblock %}
